@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: hsl(218, 23%, 16%);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  height: 100vh;
  width: 100%;
}
